<!-- About Section -->
<section class="success" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Quiénes somos</h2>
                <hr class="star-light">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
              <h3>(PSG) Practice Specialist Group</h3>
              <p>
                Somos un equipo de personas de la Práctica de Application Development con los conocimientos y experiencia para desempeñarnos como :
              </p>

              <ul>
                <li>Instructores de cursos</li>
                <li>Mentores y Revisores sobre el proceso que tienen a cargo</li>
                <li>Entrevistadores de los roles asociados con el proceso a cargo</li>
                <li>Selección de mejores prácticas en el proceso a cargo</li>
                <li>Implantar del proceso a cargo en equipos de trabajo</li>
                <li>Realizar entrevistas a candidatos</li>
              </ul>

              <p>
                Y adicionalmente somos los responsables de la revisión de las propuestas que se entregan a nuestros clientes.
              </p>

              <p>
                Los modelos que rigen nuestro ámbito de trabajo son:
              </p>

              <ul>
                <li>Modelos de engagement de la oferta de Application Development</li>
                <li>Modelos de estimación</li>
                <li>PDSS</li>
                <li>PSP</li>
                <li>CMMi</li>
              </ul>

              <p>
                Nosotros tenemos como principal cliente a la Operación de App Dev, y trabajamos en conjunto con: Desarrollo Humano, Sourcing, Technical Solution, PIC, para proveer todos los elementos que le permita alcanzar el desempeño establecido.
              </p>
            </div>
        </div>
    </div>
</section>
