---
lang: en
title: Modelos de Compromiso

description: "La oferta de Application Development  se ha segmentado para poder ajustarse mejor a las necesidades y contextos de los clientes, para ello se han definido 6 modelos de compromiso:
<br/>
<ul>
    <li>Staffing</li>
    <li>Managed Team</li>
    <li>Baselined Project</li>
    <li>Incremental Project</li>
    <li>Component Factory</li>
    <li>Project Portfolio Outsourcing</li>
</ul>
Cada modelo de compromiso tiene sus propias características que deben ser verificadas con el cliente, y tienen su propio modelo de operación.
<br/>
En la parte inferior de esta página se tienen disponibles los audiovisuales que proporcionan un mayor detalle al respecto."
picture: "/images/portfolio/cooperation.png"
menus:
  - title: "Modelos"
    link: "#engagement_models"
  - title: "AppDev"
    link: "/es#portfolio"
---
= partial 'partials/header'

-# Course: Classroom
%section{ :id => 'engagement_models' }
  %div{ :class => 'container' }
    %div{ :class => 'row' }
      %div{ :class => 'col-lg-12 text-center' }
        %h2= t(:engagement_models)
        %hr{ :class => 'star-primary' }
    %div{ :class => 'row' }
      %div{ :class => 'col-lg-12' }
