---
lang: pt
title: Entrenamientos AppDev

description: "El Entrenamiento es parte escencial en el desarrollo profesional. A través de cursos presenciales o siendo autodidacta puedes adquirir los conocimientos que exige tu rol para ejercerlo responsablemente.<br/><br/> El Grupo de Especialistas de la Práctica (PSG) te recomiendan visitar la página de tu especialidad donde podrás encontrar material online valioso para autoaprendizaje.  Adicionalmente dentro de Application Development se imparten algunos cursos presenciales que son administrador por el área de Desarrollo Humano.​"
picture: "/images/portfolio/training.png"
menus:
  - title: "Cursos presenciales"
    link: "#classroom"
  - title: "Auto-aprendizaje"
    link: "#self-peaced"
  - title: "AppDev"
    link: "/es#portfolio"
---
= partial 'partials/header'
