---
lang: en
title: Training AppDev

description: ""
picture: "/images/portfolio/training.png"
menus:
  - title: "Cursos presenciales"
    link: "#classroom"
  - title: "Auto-aprendizaje"
    link: "#self-peaced"
  - title: "AppDev"
    link: "/es#portfolio"
---
= partial 'partials/header'
